.recipe_header {
    margin-top: 5px;
}

/*-------------------------------------------Home Page */

.homepage-image {
    height: 60vh;
    background-image: url(../images/ricebowl.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}


/*-------------------------------------------Navbar */

.brand-logo {
    font-family: "Permanent Marker", sans-serif;
}