/*-------------------------------------------Text */

.recipe-title {
    color: black;
}

h5 {
    text-align: justify;
    line-height: 1cm;
}

h5, h6 {
    color: #616161;
}

h2, h3 {
    font-family: "Permanent Marker", sans-serif;
}

.title-tagline {
    text-align: center;
    color: #ffab00;
}

.title-tagline h3 {
    font-size: 72px;
}

i {
    text-align: center;
}

.btn {
    margin-bottom: 10px;
    margin-right: 10px;
}

/*-------------------------------------------Home Page */

.homepage-cover-image {
    height: 100vh;
    background-image: url(../images/ricebowl.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-banner {
    min-height: 120px;
}

h2 {
    font-size: 72px;
}

.feature-one-image {
    height: 50vh;
    background-image: url(../images/dumplings.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-banner {
    min-height: 120px;
}

.feature-banner h4 {
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    line-height: 1.5cm;
}

.spotlight-one-image {
    height: 25vh;
    background-image: url(../images/calamari.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spotlight-two-image {
    height: 25vh;
    background-image: url(../images/sushi.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spotlight-three-image {
    height: 25vh;
    background-image: url(../images/padthai.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spotlight-four-image {
    height: 25vh;
    background-image: url(../images/chinesedonuts.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-two-image {
    height: 50vh;
    background-image: url(../images/wok.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .row {
    margin-left: 0px;
    margin-right: 0px;
}

/*-------------------------------------------Social footer */

.social-footer-banner {
    min-height: 240px;
}

.social-footer-banner i {
    font-size: 35px;
    padding-right: 15px;
    color: #ffffff;
    padding-top: 35px;
}

.social-footer-banner h3 {
    color: #ffffff;
}

/*-------------------------------------------Spotlight */

.spotlight-cover-image {
    height: 40vh;
    background-image: url(../images/white-plate.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.appetizer-image {
    height: 40vh;
    background-image: url(../images/calamari.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.streetfood-image {
    height: 40vh;
    background-image: url(../images/sushi.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.maincourse-image {
    height: 40vh;
    background-image: url(../images/padthai.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.dessert-image {
    height: 40vh;
    background-image: url(../images/chinesedonuts.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/*-------------------------------------------Travel Blog */

.travelblog-cover-image {
    height: 40vh;
    background-image: url(../images/sushi-mix.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.travelblog-image-one {
    height: 50vh;
    background-image: url(../images/crispy-pata-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.travelblog-image-two {
    height: 50vh;
    background-image: url(../images/kare-kare-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/*-------------------------------------------Navbar */

.brand-logo {
    font-family: "Permanent Marker", sans-serif;
}

/*-------------------------------------------Recipes */

.recipes-cover-image {
    height: 40vh;
    background-image: url(../images/ingredients.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.recipe_header {
    margin-top: 5px;
}

/*-------------------------------------------Add Recipe */

.addrecipe-cover-image {
    height: 40vh;
    background-image: url(../images/spices.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/*-------------------------------------------Cuisine */

.cuisines-cover-image {
    height: 40vh;
    background-image: url(../images/siopao.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/*-------------------------------------------Add Cuisine */

.addcuisine-cover-image {
    height: 40vh;
    background-image: url(../images/soba-noodles.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}