.recipe_header {
    margin-top: 5px;
}

/*-------------------------------------------Home Page */

.homepage-cover-image {
    height: 100vh;
    background-image: url(../images/ricebowl.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-banner {
    min-height: 120px;
}

h3 {
    font-family: "Permanent Marker", sans-serif;
}

.feature-one-image {
    height: 50vh;
    background-image: url(../images/dumplings.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-one-banner {
    min-height: 240px;
}

.feature-one-banner h4 {
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
}

.feature-three-image {
    height: 50vh;
    background-image: url(../images/wok.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-three-banner {
    min-height: 240px;
}

.feature-three-banner h4 {
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
}

.container .row {
    margin-left: 0px;
    margin-right: 0px;
}



/*-------------------------------------------Navbar */

.brand-logo {
    font-family: "Permanent Marker", sans-serif;
}

/*-------------------------------------------Recipes */

.recipes-cover-image {
    height: 40vh;
    background-image: url(../images/ingredients.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/*-------------------------------------------Add Recipe */

.addrecipe-cover-image {
    height: 40vh;
    background-image: url(../images/spices.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/*-------------------------------------------Cuisine */

.cuisines-cover-image {
    height: 40vh;
    background-image: url(../images/siopao.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/*-------------------------------------------Add Cuisine */

.addcuisine-cover-image {
    height: 40vh;
    background-image: url(../images/soba-noodles.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}