{% extends 'base.html' %}{% block content %}

<div class="addrecipe-cover-image title-tagline">
    <div class="row">
        <div class="col s12">
            <h3>Add a Recipe</h3>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">local_dining</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>    
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">menu_book</i>
                    <select id="course_name" name="course_name" required>
                        <option value="" disabled selected>Choose a Course</option>
                        {% for course in courses %}
                            <option value="{{course.course_name}}">{{course.course_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Course Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">outlined_flag</i>
                    <select id="cuisine" name="cuisine_name" required>
                        <option value="" disabled selected>Choose a Cuisine</option>
                        {% for cuisine in cuisines %}
                            <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Cuisine Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">restaurant</i>
                    <input id="servings" name="servings" type="number" class="validate" required>
                    <label for="servings">Servings</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">hourglass_top</i>
                    <input id="prep_time" name="prep_time" type="text" class="validate" required>
                    <label for="prep_time">Prep Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">hourglass_bottom</i>
                    <input id="cooking_time" name="cooking_time" type="text" class="validate" required>
                    <label for="cooking_time">Cooking Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">hourglass_full</i>
                    <input id="total_time" name="total_time" type="text" class="validate" required>
                    <label for="total_time">Total Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">kitchen</i>
                    <textarea id="ingredients" name="ingredients" type="text" class="materialize-textarea" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">article</i>
                    <textarea id="step_1" name="step_1" type="text" class="materialize-textarea" required></textarea>
                    <label for="step_1">Step 1</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">article</i>
                    <textarea id="step_2" name="step_2" type="text" class="materialize-textarea" required></textarea>
                    <label for="step_2">Step 2</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">article</i>
                    <textarea id="step_3" name="step_3" type="text" class="materialize-textarea" required></textarea>
                    <label for="step_3">Step 3</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">article</i>
                    <textarea id="step_4" name="step_4" type="text" class="materialize-textarea" required></textarea>
                    <label for="step_4">Step 4</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">article</i>
                    <textarea id="step_5" name="step_5" type="text" class="materialize-textarea" required></textarea>
                    <label for="step_5">Step 5</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light amber accent-4" type="submit" name="action">Add Recipe
                    <i class="material-icons right">history_edu</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}