<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous" />
    <title>Rice Bowl</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper brown lighten-1">
                <a href="{{ url_for('homepage') }}" class="brand-logo"><i class="material-icons">rice_bowl</i>Rice Bowl</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('spotlight') }}">Spotlight</a></li>
                    <li><a href="{{ url_for('travelblog') }}">Travel Blog</a></li>
                    <li><a href="/"><i class="material-icons">search</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/"><i class="material-icons">search</i>Search</a></li>
                    <li><a href="{{ url_for('homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('spotlight') }}">Spotlight</a></li>
                    <li><a href="{{ url_for('travelblog') }}">Travel Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
   
        {% block content %}{% endblock %}

    <footer>
        <div class="row social-footer-banner brown darken-3">
            <div class="container">
                <div class="col l4 s12">
                    <h3>Rice Bowl</h3>
                </div>
                <div class="col l8 m12 s12">
                    <a target="_blank" href="https://facebook.com"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://pinterest.com"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://instagram.com"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://youtube.com"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                </div>    
            </div>    
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>$(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>