<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Rice Bowl</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper brown lighten-1">
                <a href="/" class="brand-logo"><i class="material-icons">rice_bowl</i>Rice Bowl</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Recipes</a></li>
                    <li><a href="/">Spotlight</a></li>
                    <li><a href="/">Travel Blog</a></li>
                    <li><a href="/"><i class="material-icons">search</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/"><i class="material-icons">search</i>Search</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Recipes</a></li>
                    <li><a href="/">Spotlight</a></li>
                    <li><a href="/">Travel Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
   
        {% block content %}{% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>$(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>