{% extends 'base.html' %}{% block content %}

<div class="homepage-cover-image"></div>

<div class="row homepage-banner brown lighten-4">
    <div class="col"></div>
</div>

<div class="container">
    <div class="recipe-container">
        <div class="row">
            <div class="col">
                <h3><strong>Add and learn new Recipes</strong></h3>
            </div>
        </div>
    </div>

    <div class="col s12 feature-one-image"></div>
    <div class="row feature-one-banner amber accent-4">
        <div class="col">
        <h4>We want to showcase all the cuisines that Asia has to offer, right from the actual source. Got a recipe? Share it with us.</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
        <h3><strong>In the Spotlight</strong></h3>
        <h5>We highlight our monthly picks for appetizer, street food, main course and dessert courses.</h5>
        <hr>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
        <h3><strong>Food Trip</strong></h3>
        </div>
    </div>

    <div class="col s12 feature-three-image"></div>
    <div class="row feature-three-banner amber accent-4">
        <div class="col">
        <h4>We only want to share authentic recipes which we've located, sourced and digested. Read about our discoveries in our Travel Blog.</h4>
        </div>
    </div>
</div>

{% endblock %}