{% extends 'base.html' %}
{% block content %}
    {% for recipe in recipes %}
        {{recipe.recipe_name}}
        {{recipe.course_name}}
        {{recipe.cuisine_name}}
        {{recipe.servings}}
        {{recipe.prep_time}}
        {{recipe.cooking_time}}
        {{recipe.total_time}}
        {{recipe.ingredients}}
        {{recipe.step_1}}
        {{recipe.step_2}}
        {{recipe.step_3}}
        {{recipe.step_4}}
        {{recipe.step_5}}
    {% endfor %}

    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
  
{% endblock %}