{% extends 'base.html' %}{% block content %}

<div class="recipes-cover-image title-tagline">
    <div class="row">
        <div class="col s12">
            <h3>Recipes</h3>
            <h4 class="hide-on-small-only">Search our database for Asian recipes. Got a new recipe or cuisine for us? You can add it to the database too.</h4>
            <h4 class="hide-on-med-and-up">View and add Recipes.</h4>
        </div>
    </div>
</div>



<div class="container">
    <div class="row hide-on-small-only">
        <div class="col s12">
            <a href="{{ url_for('add_recipe')}}" class="waves-effect waves-light btn-large amber accent-4"><i class="material-icons right">history_edu</i>Add a Recipe</a>
            <a href="{{ url_for('get_cuisines')}}" class="waves-effect waves-light btn-large amber accent-4"><i class="material-icons right">outlined_flag</i>View/Add Cuisines</a>
        </div>
    </div>
    <div class="row hide-on-med-and-up">    
        <div class="col s12">
            <a href="{{ url_for('add_recipe')}}" class="waves-effect waves-light btn-large amber accent-4"><i class="material-icons right">history_edu</i>Add a Recipe</a>
        </div>
    </div> 
    <div class="row hide-on-med-and-up">    
        <div class="col s12">
            <a href="{{ url_for('get_cuisines')}}" class="waves-effect waves-light btn-large amber accent-4"><i class="material-icons right">outlined_flag</i>View/Add Cuisines</a>
        </div>
    </div> 
    <div>
        <ul class="collapsible">
            {% for recipe in recipes %}
            <li>
                <div class="collapsible-header recipe_header"><i class="material-icons">unfold_more</i>
                <h5 class="recipe-title">{{recipe.recipe_name}}</h5> <h5>&nbsp;- {{recipe.cuisine_name}}</h5>
                </div>
                <div class="collapsible-body">
                    <span>
                        <h5 class="recipe-title">Course:</h5><h5>{{recipe.course_name}}</h5>
                        <h5 class="recipe-title">Servings:</h5><h5>{{recipe.servings}}</h5>
                        <h5 class="recipe-title">Prep Time:</h5><h5>{{recipe.prep_time}}</h5>
                        <h5 class="recipe-title">Cooking Time:</h5><h5>{{recipe.cooking_time}}</h5>
                        <h5 class="recipe-title">Total Time:</h5><h5>{{recipe.total_time}}</h5>
                        <h5 class="recipe-title">Ingredients:</h5><h5>{{recipe.ingredients}}</h5>
                        <h5 class="recipe-title">Step 1:</h5><h5>{{recipe.step_1}}</h5>
                        <h5 class="recipe-title">Step 2:</h5><h5>{{recipe.step_2}}</h5>
                        <h5 class="recipe-title">Step 3:</h5><h5>{{recipe.step_3}}</h5>
                        <h5 class="recipe-title">Step 4:</h5><h5>{{recipe.step_4}}</h5>
                        <h5 class="recipe-title">Step 5:</h5><h5>{{recipe.step_5}}</h5>
                    </span>
                </div>
            </li>
            {% endfor %} 
        </ul>
    </div>
</div>

{% endblock %}