{% extends 'base.html' %}{% block content %}

<div class="travelblog-cover-image title-tagline">
    <div class="row">
        <div class="col s12">
            <h3>Travel Blog</h3>
            <h5>Your monthly deep dive into the world of food touring and Asian Cuisine.</h5>
        </div>
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>It's more delicious in the Philippines</h3>
            <h5 class="text"><i>I'm endlessly amazed when I travel to the Philippines at the sheer amount of variety of dishes they have. Everytime I go back there is always something new and exciting to experience.</i></h5>
            <h6>By Mark Goldbridge</h6>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="travelblog-image-one"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>
            Travelling to the Philippines is always exciting for me. Excluding the fact that my wife's family was orginally from the Philippines, but because of the memories I have there. We got married there, had our honeymoon in Boracay and heck our first child had their first birthday in Jollibee.
            But aside from that even before when I was travelling to the Philippines as a single bachelor during my food tours, I was infinitely fascinated about how good the food was and the variety was just mind blowing. You could travel the whole of length of this wonderful island and try the same dish in differnt
            regions but you would always get a different flavour. In Asia different regions have different flavour profiles in their dishes. The same is true in the Philippines. For example you take the Filipino staple Lechon, which is a whole pig roasted over a fire. Lechon is mainly eaten during special ocassions
            like a wedding's, birthday's, town festivals and holidays. In the region of Cebu you'll find the pig packed with flavour because the belly is stuffed with saba bananas, lemongrass, onions, garlic and star anise. Whereas Bacolod lechon uses salt, batuan fruit, and lemongrass.    
            </h5>
        </div>
    </div>               
    <div class="row">
        <div class="col s12">      
            <h5>
            In my previous blogs again in my bachelor days we would go region by region and would eat as much as humanly possible. However this time we decided to keep things simple. One on account of travelling wth two kids under five and second, my wife wanting to spend time with her family. So my options
            were limited but it didn't make the food trip any less exciting. We mostly stayed in Baguio City where my wife's family is based and in Manila where the rest of her family was based. Filipino's have large families by the way. Everyday was a sight to behold as there were ample opportunites for eating.
            Rice is big staple here and the base for all meals. Morning, lunch and dinner we would eat rice and snacks before lunch and dinner. So you could probably guess what happened when I checked my weight after we came back from our trip. We would sometimes take the kids to eat at Jollibee or Chow King and
            once in a while take the family out for a nice meal in a restaurant. But we mostly ate at home with my mother-in-law, aunties and wife's relatives doing most of the heavy lifting. Me and my wife share cooking duties at home so this was a nice change of pace.   
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3>"Most of the best dishes I had on our trip were honestly the one's I ate in my wife's family home or at a relatives house"</h3>
        </div>
    </div>    
     <div class="row">
        <div class="col s12">
            <h5>
            Most of the best dishes I had on our trip were honestly the one's I ate in my wife's family home or at a relatives house. Often times we like to make food trips complicated by going to restaurants and ordering an elaborate spread. Then go back to the hotel, sleep and do it all over again the next day or 
            until you're lying on the hotel room floor contemplating your life choice's. That being said I would like to share two of my favourite dishes from our time here. I would often spend time with my father-in-law in Baguio City. Around the back of the house he has a "piggery" or a pig sty. During the weekends 
            when he wasn't working, we would take care of the pigs with an aim of selling them. Which would then be cooked as lechon. My father-in-law would often cook lechon for us when we stayed in Baguio City but this time he cooked a different dish called Crispy Pata. Which is pork leg 
            deep fried until cripsy hence the name Crispy Pata. The pork leg or pata would be boiled in a pot for up to eight hours and along with onions, whole black peppers and bay leaves. It would then be seasoned with salt and deep fried in oil. The secret here is not to fry it once but twice to get the skin extra crispy. It may 
            seem like an extra step but believe me it makes a world of difference. The flavour really comes through from the boiling process when eating the meat and the crispiness of the skin was something else. The picture at the top of the page doesn't do this dish justice. Tasting really is believing. Top that off with 
            vinegar and soy sauce for dipping along with plain white rice, this dish will have your heart rocketing along with your blood pressure.       
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="travelblog-image-two"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>
               The second picture I've chosen is of a dish that my mother-in-law makes called Kare-Kare. It's a type of stew but the twist is that it has a rich thick peanut butter sauce. Again served at special ocassions. I think my mother-in-law has added our holiday visits to her list of special ocassions as we eat this 
               quite often. Kare-Kare is traditionally cooked with oxtail but sometimes we eat it with different cuts of beef like shank, brisket and even tripe. I love peanut butter and jelly sandwiches and never pass the opportunity to eat the ocassional steak, so this dish has always been top of my
               eating list whenever we go to the Philippines. Like Crispy Pata the oxtail is boiled for up to 8 hours or until tender. The meat is then combined with egg plant, banana flower and string beans in a peanut sauce. As always it's eaten with steaming hot rice and a little shrimp paste (bagoong) for that
               little touch of extra saltiness. This goes great with the peanut butter sauce, so you get just the right hint of saltiness and sweetness from the sauce. If I could eat this everyday I would, it's just that medical science has proved that too much beef may not be good for you. If the
               smell of this dish doesn't get you then I don't know what will.
            </h5>
        </div>
    </div>
     <div class="row">
        <div class="col s12">
            <h3>"The food here is truly something special but then you add in the family bonding and communal eating it takes the dishes to a whole other level"</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>
            The day before we head back to the UK is always hard for us. The time we spent with my wife's family is always something we cherish. Enjoying each others company, sharing stories and laughs in the evening into the early hours of the morning are the things things that make the time fly by. There is saying that 
            you will see as soon as you arrive here, the line reads "It's more fun in the Philippines". But what makes it truly fun is the people that live here. You'll find that Filipino's are the most friendly and hard working people you can meet, and all of this is reflected in their culture. Especially through their 
            food you can see and taste the hard work and love they put in every dish. When you visit a house in the Philippines the first thing they say to you is "Come in and eat!". The food here is truly something special but then you add in the family bonding and communal eating it takes the dishes to a whole other level.
            It's been said that to truly enjoy food you need to feel it inside of you as well. I may be slightly biased but after countless visits to this great nation I can truly say that it's more delicious in the Philippines. 
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>
            As a side note you may notice that these dishes are not in the Rice Bowl database yet. But I promise that I'll add them as soon as finish translating the recipes from Tagalog to English. I may need my wife's help in translating. I just want to make sure that I get the recipies right for you. Check back with you guys soon. 
            </h5>
        </div>
    </div>
</div>

{% endblock %}